footer.py-4.bg-light.mt-auto
    .container-fluid
        .d-flex.align-items-center.justify-content-between.small
            .text-muted
                | Copyright &copy; 공공데이터, 세상을 구하다 2020

            //- div
            //-     a(href='#') Privacy Policy
            //-     | 
            //-     | &middot;
            //-     | 
            //-     a(href='#') Terms &amp; Conditions
