.table-responsive
  table#dataTable.table.table-bordered(width='100%' cellspacing='0')
    thead
      tr
        th &#xAD6D;&#xAC00;
        th &#xD655;&#xC9C4;&#xC790;
        th &#xC0AC;&#xB9DD;&#xC790;
        th &#xC0AC;&#xB9DD;&#xB960;
    tbody#insertHere
