nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
            <!--.sb-sidenav-menu-heading
                | Core -->
        
            a.nav-link(href='index.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | 실시간 코로나 알림판
                
            a.nav-link(href='항공운항정보.html') 
                .sb-nav-link-icon
                    i.fas.fa-file-alt
                | 항공 운항정보

            
            a.nav-link(href='입출국후행동방침.html') 
                .sb-nav-link-icon
                    i.fas.fa-plane-arrival
                | 출입국 주요 행동방침
                                    
            a.nav-link(href='코로나 경험 게시판.html')
                .sb-nav-link-icon
                    i.fas.fa-clipboard-list
                | 코로나 경험 게시판

            a.nav-link(href='contact.html')
                .sb-nav-link-icon
                    i.fas.fa-phone-book
                | 국가별 긴급 연락처

            a.nav-link(href='외교부 최신 안전소식.html')
                .sb-nav-link-icon
                    i.fas.fa-newspaper
                | 외교부 최신 안전소식



                            
            .sb-sidenav-menu-heading
                | 임시
            
            a.nav-link(href='charts.html')
                .sb-nav-link-icon
                    i.fas.fa-chart-area
                | 임시1
                
            a.nav-link(href='tables.html')
                .sb-nav-link-icon
                    i.fas.fa-table
                | 임시2

            a.nav-link.collapsed(href='#', data-toggle='collapse' data-target='#collapseLayouts' aria-expanded='false' aria-controls='collapseLayouts')
                .sb-nav-link-icon
                    i.fas.fa-columns
                | 임시3
                .sb-sidenav-collapse-arrow
                    i.fas.fa-angle-down
            #collapseLayouts.collapse(aria-labelledby='headingOne', data-parent='#sidenavAccordion')
                nav.sb-sidenav-menu-nested.nav
                    a.nav-link(href='layout-static.html') Static Navigation
                    a.nav-link(href='layout-sidenav-light.html') Light Sidenav

    //- .sb-sidenav-footer
    //-     .small Logged in as:
    //-     | 관리자01


//-

            #collapsePages.collapse(aria-labelledby='headingTwo', data-parent='#sidenavAccordion')
                nav.sb-sidenav-menu-nested.nav.accordion#sidenavAccordionPages
                    a.nav-link.collapsed(href='#', data-toggle='collapse' data-target='#pagesCollapseAuth' aria-expanded='false' aria-controls='pagesCollapseAuth')
                        | Authentication
                        .sb-sidenav-collapse-arrow
                            i.fas.fa-angle-down
                    #pagesCollapseAuth.collapse(aria-labelledby='headingOne', data-parent='#sidenavAccordionPages')
                        nav.sb-sidenav-menu-nested.nav
                            a.nav-link(href='login.html') Login
                            a.nav-link(href='register.html') Register
                            a.nav-link(href='password.html') Forgot Password
                    a.nav-link.collapsed(href='#', data-toggle='collapse' data-target='#pagesCollapseError' aria-expanded='false' aria-controls='pagesCollapseError')
                        | Error
                        .sb-sidenav-collapse-arrow
                            i.fas.fa-angle-down
                    #pagesCollapseError.collapse(aria-labelledby='headingOne', data-parent='#sidenavAccordionPages')
                        nav.sb-sidenav-menu-nested.nav
                            a.nav-link(href='401.html') 401 Page
                            a.nav-link(href='404.html') 404 Page
                            a.nav-link(href='500.html') 500 Page
