extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = '국가별 긴급 연락처';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

append css
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', crossorigin='anonymous')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=', crossorigin='anonymous')
    link(href='assets/css/contactDetail.css', rel='stylesheet')

block content
    section.ftco-section.ftco-faqs
        .container
            .heading-section.mb-4.mt-5.mt-lg-0.section-title
                h2#countryName.mb-3
            .row
                .col-lg-6.order-md-last.mb-4
                .col-lg-12
                    #accordion.myaccordion.w-100.bg-white(aria-multiselectable='true' style='border-radius:10px; padding: 5%')

append scripts
    script(src='js/contactDetail.js')
    //script(src='js/cors.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
