doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title &#xC678;&#xAD50;&#xBD80; &#xCD5C;&#xC2E0; &#xC548;&#xC804;&#xC18C;&#xC2DD; - COVIDBook
  link(href='css/styles.css' rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js' crossorigin='anonymous')
nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
  a.navbar-brand(href='index.html') &#xCF54;&#xB85C;&#xB098;Book
  button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0(href='#')
    i.fas.fa-bars
  // Navbar Search
  form.d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0
    .input-group
  //
    input.form-control(type='text', placeholder='Search for...', aria-label='Search', aria-describedby='basic-addon2').input-group-append
    button.btn.btn-primary(type='button')
    i.fas.fa-search //
  // Navbar
  ul.navbar-nav.ml-auto.ml-md-0
    li.nav-item.dropdown
      a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        i.fas.fa-user.fa-fw
      .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
        a.dropdown-item(href='#') &#xC124;&#xC815;
        a.dropdown-item(href='#') Activity Log
        .dropdown-divider
#layoutSidenav
  #layoutSidenav_nav
    nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
      .sb-sidenav-menu
        .nav
          // .sb-sidenav-menu-headingCore
          a.nav-link(href='index.html')
            .sb-nav-link-icon
              i.fas.fa-tachometer-alt
            |                                 &#xC2E4;&#xC2DC;&#xAC04; &#xCF54;&#xB85C;&#xB098; &#xC54C;&#xB9BC;&#xD310;
          a.nav-link(href='항공운항정보.html')
            .sb-nav-link-icon
              i.fas.fa-file-alt
            |                                 &#xD56D;&#xACF5; &#xC6B4;&#xD56D;&#xC815;&#xBCF4;
          a.nav-link(href='입출국후행동방침.html')
            .sb-nav-link-icon
              i.fas.fa-plane-arrival
            |                                 &#xC785;&#xCD9C;&#xAD6D; &#xD6C4; &#xD589;&#xB3D9;&#xBC29;&#xCE68;
          a.nav-link(href='코로나 경험 게시판.html')
            .sb-nav-link-icon
              i.fas.fa-clipboard-list
            |                                 &#xCF54;&#xB85C;&#xB098; &#xACBD;&#xD5D8; &#xAC8C;&#xC2DC;&#xD310;
          a.nav-link(href='출입국 관련 연락처 정보.html')
            .sb-nav-link-icon
              i.fas.fa-address-book
            |                                 &#xCD9C;&#xC785;&#xAD6D; &#xAD00;&#xB828; &#xC5F0;&#xB77D;&#xCC98; &#xC815;&#xBCF4;
          a.nav-link(href='외교부 최신 안전소식.html')
            .sb-nav-link-icon
              i.fas.fa-newspaper
            |                                 &#xC678;&#xAD50;&#xBD80; &#xCD5C;&#xC2E0; &#xC548;&#xC804;&#xC18C;&#xC2DD;
          .sb-sidenav-menu-heading &#xC784;&#xC2DC;
          a.nav-link(href='charts.html')
            .sb-nav-link-icon
              i.fas.fa-chart-area
            |                                 &#xC784;&#xC2DC;1
          a.nav-link(href='tables.html')
            .sb-nav-link-icon
              i.fas.fa-table
            |                                 &#xC784;&#xC2DC;2
          a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseLayouts' aria-expanded='false' aria-controls='collapseLayouts')
            .sb-nav-link-icon
              i.fas.fa-columns
            |                                 &#xC784;&#xC2DC;3
            .sb-sidenav-collapse-arrow
              i.fas.fa-angle-down
          #collapseLayouts.collapse(aria-labelledby='headingOne' data-parent='#sidenavAccordion')
            nav.sb-sidenav-menu-nested.nav
              a.nav-link(href='layout-static.html') Static Navigation
              a.nav-link(href='layout-sidenav-light.html') Light Sidenav
      .sb-sidenav-footer
        .small Logged in as:
        |                         &#xAD00;&#xB9AC;&#xC790;01
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 &#xC678;&#xAD50;&#xBD80; &#xCD5C;&#xC2E0; &#xC548;&#xC804;&#xC18C;&#xC2DD;
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active &#xC678;&#xAD50;&#xBD80; &#xCD5C;&#xC2E0; &#xC548;&#xC804;&#xC18C;&#xC2DD;
        div(style='float:right')
          input#text(type='text' value='' placeholder='국가이름')
          button#call &#xAC80;&#xC0C9;
        br
        br
        .card.mb-4
          table.table
            thead
              tr
                td &#xAD6D;&#xAC00;&#xC774;&#xB984;
                td &#xC8FC;&#xC694;&#xC0AC;&#xD56D;
                td &#xC138;&#xBD80;&#xB0B4;&#xC6A9;
                td &#xB0A0;&#xC9DC;
            tbody#tblShow
              //
                <tr>
                <td width="100" id="country"></td>
                <td width="200" id="title"></td>
                <td id="content"></td>
                <td width="100" id="date"></td>
                </tr>
        em &#xB354; &#xCD94;&#xAC00;&#xD560; &#xC608;&#xC815;
        div(style='height: 50vh')
        .card.mb-4
          .card-body
            | When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.
    footer.py-4.bg-light.mt-auto
      .container-fluid
        .d-flex.align-items-center.justify-content-between.small
          .text-muted Copyright &copy; &#xCD5C;&#xAC15; &#xD574;&#xCEE4;&#xD1A4; 2020
          div
            a(href='#') Privacy Policy
            |                                 &middot;
            a(href='#') Terms &amp; Conditions
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript')
script(src='https://code.jquery.com/jquery-3.4.1.js' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' crossorigin='anonymous')
script(src='js/scripts.js')
// <script src="js/AjaxRequest.jsp"></script>
script(src='js/safety.js')
script(src='js/searchSafety.js')
