extends ../layouts/dashboard.pug

block config
    - var pageTitle = '코로나 경험 게시판'
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid
        include includes/page-header.pug
        
        .card.mb-4
            .card-body
                div(style=' float:right')
                    form.navbar-form.navbar-left(role='search')
                        .form-group(style='width: 300px;')
                            input.form-control(type='text' placeholder='Search' style='width: 220px; display: inline')
                            button.btn.btn-default.navbar-btn(type='submit') &#xAC80;&#xC0C9;
                div
                    table.table.table-hover(width='100%' style='text-align: center')
                        thead
                            tr
                                th(style='width: 50px') &#xBC88;&#xD638;
                                th(style='width: 500px;') &#xC81C;&#xBAA9;
                                th(style='width: 150px') &#xC791;&#xC131;&#xC790;
                                th(style='width: 150px') &#xB0A0;&#xC9DC;
                                th(style='width: 50px') &#xC870;&#xD68C;
                        tbody
                            tr
                                th(scope='row') 1
                                td
                                    a(href='#') &#xBB34;&#xC99D;&#xC0C1; &#xAC10;&#xC5FC;&#xC790;&#xC778;&#xC9C0; &#xC5B4;&#xB5BB;&#xAC8C; &#xD655;&#xC778;&#xD558;&#xB098;&#xC694; ??&#x3160;
                                td Otto
                                td 2020-12-08
                                td 0
                            tr
                                th(scope='row') 2
                                td
                                    a(href='#') &#xC5F4;&#xC774; 37&#xB3C4;&#xC778;&#xB370; &#xCF54;&#xB85C;&#xB098;&#xC778;&#xAC00;&#xC694; ??
                                td Thornton
                                td 2020-12-08
                                td 0
                            tr
                                th(scope='row') 3
                                td
                                    a(href='#') &#xC790;&#xAFB8; &#xD1A0;&#xD558;&#xACE0; &#xC5F4;&#xB098;&#xB294; &#xAC70; &#xAC19;&#xC740;&#xB370; &#xCF54;&#xB85C;&#xB098; &#xC778;&#xAC00;&#xC694; ??
                                td the Bird
                                td 2020-12-08
                                td 0
                    div(style='position: absolute; right: 50px')
                        a(href='corona_board_write.pug')
                            button#btn-save.btn.btn-primary(type='button' onclick="alert('미구현')") &#xAE00;&#xC4F0;&#xAE30;
                    #pageing
                        ul(type='none')
                            li
                                a(href='#')
                                    img(src='../../assets/img/prev_10.gif')
                            li
                                a(href='#')
                                    img(src='../../assets/img/prev_1.gif')
                            li
                                a(href='#') 1
                            //
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                            li
                                a(href='#')
                                    img(src='../../assets/img/next_1.gif')
                            li
                                a(href='#')
                                    img(src='../../assets/img/next_10.gif')
            div(style='height: 50vh')
