extends ../layouts/dashboard.pug

block config
    - var pageTitle = '항공 운항정보'
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid
        include includes/page-header.pug
        
        .card.mb-4
            .card-body
                p.mb-0.
                    준비중 입니다. 본선에서 보여드리겠습니다. 뽑아주세용^^
        
        div(style='height: 50vh;')
            
