doctype html
link(rel='shortcut icon', href='https://icon-icons.com/downloadimage.php?id=141726&root=2301/ICO/128/&file=virus_covid_corona_cell_coronavirus_bacteria_icon_141726.ico', type='image/x-icon') 
//-파비콘 적용

block config
    - var pageTitle = "Page Title"

html(lang='ko')
    head



        include includes/head/meta.pug
        include includes/head/title.pug
        include includes/head/css.pug
        include includes/head/icons.pug

    body(class=bodyClass)

        include includes/navigation/topnav.pug

        #layoutSidenav
            
            #layoutSidenav_nav

                include includes/navigation/sidenav.pug

            #layoutSidenav_content
                
                main

                    block content
                    
                include includes/footer.pug

        include includes/scripts.pug
